body {
  text-align: center;
  background: #f4f4f4;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.toolbar {
  margin: 10px auto;
}

canvas {
  border: 2px solid #444;
  border-radius: 10px;
  background: white;
  cursor: crosshair;
}
